UAIDesarrolloArquitectura/Connected Services/ServicePrecios/ObtPrecios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerPrecios">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerPreciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPreciosResult" type="tns:ArrayOfDecimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDecimal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerPreciosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPrecios" />
  </wsdl:message>
  <wsdl:message name="ObtenerPreciosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPreciosResponse" />
  </wsdl:message>
  <wsdl:portType name="ObtPreciosSoap">
    <wsdl:operation name="ObtenerPrecios">
      <wsdl:input message="tns:ObtenerPreciosSoapIn" />
      <wsdl:output message="tns:ObtenerPreciosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObtPreciosSoap" type="tns:ObtPreciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPrecios">
      <soap:operation soapAction="http://tempuri.org/ObtenerPrecios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObtPreciosSoap12" type="tns:ObtPreciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPrecios">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPrecios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObtPrecios">
    <wsdl:port name="ObtPreciosSoap" binding="tns:ObtPreciosSoap">
      <soap:address location="https://localhost:44394/ObtPrecios.asmx" />
    </wsdl:port>
    <wsdl:port name="ObtPreciosSoap12" binding="tns:ObtPreciosSoap12">
      <soap12:address location="https://localhost:44394/ObtPrecios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>